/* You can add global styles to this file, and also use other style files */
@use "tailwindcss";
@use "ngx-toastr/toastr";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("simple-keyboard/build/css/index.css");

body {
  background-image: linear-gradient(
    to top,
    #3b41c5 0%,
    #a981bb 49%,
    #ffc8a9 100%
  );

  font-weight: 400;
  font-style: normal;
}

.custom-shape-divider-top-1743634191 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1743634191 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 109px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1743634191 .shape-fill {
  fill: #ffff;
}

.display-font {
  font-family: "Playfair Display SC", serif;
}

.roboto {
  font-family: "Roboto Condensed", sans-serif;
}

.simple-keyboard {
  background-color: transparent !important;
  width: 700px !important;
  height: auto !important;
}

@media (max-width: 800px) {
  .simple-keyboard {
    width: 500px !important;
    height: auto !important;
  }
  .custom-shape-divider-top-1743634191 svg {
    height: 80px;
  }
}
@media (max-width: 500px) {
  .simple-keyboard {
    width: 350px !important;
    height: auto !important;
  }
  .custom-shape-divider-top-1743634191 svg {
    height: 30px;
  }
}
